# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store


# DotEnv configuration
.env
venv/

# pyenv local environment
.python-version

# vimf files
*.swp
*.swo

# Database files
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# bayesian notes
bayesian-notes/